<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <%= recipe.content %>
  </p>

  <%= image_tag recipe.image_url, alt: "AI-generated image of the recipe" if recipe.image_url? %>
</div>
