<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <%= recipe.content %>
  </p>

  <img src="<%= recipe.image_url %>" alt="recipe image">
</div>
